{% extends 'index.html.twig' %}

{% block content %}
    <div style="height:70vh;width:100%;display:flex;align-items:center;justify-content:center;flex-direction:column">
        <h1 style="font-size:3em;">Bienvenue sur le CMS</h1>
        <p>Page par défaut</p>
    </div>
{% endblock %}