{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div id="login-form">
    <div class="form" style="max-width:350px;">
        <div class="header-logo flex-col">
            <div class="_logo"></div>
        </div>
        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
    </div> 
</div>    

{% endblock %}

