@media screen and (max-width: 1400px) {
    #main .block_page .slim {
        flex-direction: column !important;
    }
    #main .block_page .slim .comp-text {
        width: 80% !important;
    }
}
@media screen and (max-width : 1200px ){
    #main{
        width : 100vw !important;
    }
    #main > *{
        width : 100% !important;
    }
    .section, .large-section {
        min-height: unset !important;
        justify-content: center;
    }

    .section{
        width : 100% !important;
        padding:10px 0;
        align-items: center;
    }
    .bg-block-gold{
        display:none;
    }

    .bg-block {
        background-size: contain;
    }

    .section > *{
        width : 80% !important;
    }
    .section.even {
        width : 100% !important;
        /*flex-direction: column-reverse !important;*/
    }

    .comp-text .title-desc {
        padding-top: 30px;
    }


}

@media screen and (max-width: 1024px) {
    #slider {
        flex-direction: column !important;
        width: 80% !important;
    }
    .no-mobile {
        display: none !important;
    }
    #sub_menu_fixed, .menu-fixed {
        font-size: 15px;
    }
    .menu-fixed .first-m {
        justify-content: flex-start;
    }
    .menu-fixed .second-m {
        justify-content: end;
    }
    .big-circle {
        width: 29vw!important;
        height: 29vw;
        top: 26vw !important;
        left: 0vw !important;
    }

    #abs-header .head-1 > div > a {
        font-size: 1.1vw;
        width: 27%;
    }

    #main .block_page .gallery .wrapp_gal_img {
        width: 100% !important;
    }
    .full-content.section table {
        width:85%!important;
        margin:auto;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .gallery .section.header {
        padding-left: 50px;
    }
    .section .comp-text-img > .comp-text {
        margin-bottom:40px;
    }
    .comp-text-img p {
        padding-bottom:20px;
    }
}

@media screen and (max-width: 768px) {
    .gallery .section.header {
        padding-left: 20px;
    }

    .bg-block .big-circle {
        top: 65%;
        left: 0%;
    }

    .big-circle h3 {
        padding: 20px;
        font-size: 3.5vw;
        text-align: center;
    }

    .big-circle .range-circle {
        font-size: 1.5vw;
    }

    .big-circle .text-circle {
        font-size: 2.5vw;
    }

    .bg-block {
        height: 50vw;
    }

    #slider .nav-slide {
        left: 70vw;
        bottom: 0;
        top: unset;
    }

    /*.large-section.block_page {
        margin-top: 40px !important;
    }*/
    .bg-block1, .bg-block2 {
        width: 81vw;
        height: 40vw;
        left: 50%;
        margin-left: -40vw;
    }
    .big-circle {
        top: 34vw !important;
    }

    /* images gallery */
    /*#main .block_page .slim .gallery .wrapp_gal_img .detail .bg-img, #main .block_page .gallery .wrapp_gal_img .detail .bg-img, #main .block_page .gallery .wrapp_gal_img .flex-col .bg-img .flex-col {
        width: 100% !important;
    }*/


}
    /* images gallery */
/*@media screen and (max-width: 700px) {
    #main .block_page .slim .gallery .wrapp_gal_img .detail .link-orange, #main .block_page .gallery .wrapp_gal_img .detail .link-orange {
        margin-bottom: 50px;
        height: 60px !important;
        margin: 30px 0;
    }

    #main .block_page .slim .gallery .wrapp_gal_img, #main .block_page .gallery .wrapp_gal_img {
        flex-direction: column;
        height: auto;
        background: none;
        margin-top: 0;
    } 
}*/

@media screen and (max-width: 570px) {
    .bg-block .big-circle {
        top: 90%;
    }
}

@media screen and (max-width: 425px) {
    #slider .nav-slide {
        left: 32vw;
    }

    .big-circle {
        top: 64vw !important;
    }

    .big-circle h3 {
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .big-circle {
        top: 85vw !important;
    }
}