
<div class="flex-row _items_list">
    <select class="item_select" name="items_list_0">
        {%  set id = '' %}
        {% for item in items %}
            <option value="{{  item.id  }}">{{ item.value }}</option>
        {% endfor %}
    </select>
    <a  class="items_rem-no-id" href="" >X</a>
</div>

