@import '../commons/colors';

footer{
    position: relative;
    width: 100vw;
    height: max-content;
    background-color: #070707;
    color: $white;
    display: flex;
    flex-direction: row;

    h2{
        font-size: 18px;
        text-transform: uppercase;
        margin-left: 70px;
        margin-bottom: 20px;

        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 9px;
            left: 0;
            width: 57px;
            height: 1px;
            border-top: 1px solid $white;
            opacity: .5;
            letter-spacing: 1.5;
        }
    }

    p{
        font-size: 14px;
        color: #707070;
    }

    .sepa{
        height: 40px;
    }

    .email{
        color: #707070;
        transition: all .3s;

        &:hover{
            text-decoration: underline;
            color: $white;
            opacity: 1;
        }
    }

    .legal{
        color: $white;
        transition: all .3s;
        border-bottom: 1px solid $gold;

        &:hover{
            opacity: .5;
        }
    }

    .left{
        position: relative;
        margin: 20px 80px 30px calc(50vw - 660px);

        
    }

    .right{
        position: relative;
        margin: 20px 0 50px;

        p{
            font-size: 18px;
            display: flex;
            flex-direction: row;

            &.closed{
                opacity: .5;

                .fcol{
                    opacity: 1;
                }
            }

            .fcol{
                width: 80px;
                margin-right: 10px;
            }
        }
    }
}

.seven{
    footer{
        background-color: $white;
        color: $dark;

        h2::before{
            border-top-color: $dark;
        }
    }
}




/* =============================================================== RESPONSIVE =================================================================*/




@media (max-width:480px) {
    
}

@media (max-width:320px) {
    
}
