@import '../commons/colors';

header{
    height: 100vh;
    overflow: hidden;
    cursor: none;

    .logo-container{
        pointer-events: none;
        position: relative;
        top: calc(50vh - 114px);
        z-index: 3;
        background: radial-gradient(
                        circle, 
                        rgba($color: $white, $alpha: .5) 0%, 
                        rgba($color: $white, $alpha: .3) 40%,
                        rgba($color: $white, $alpha: .2) 52%,
                        rgba($color: $white, $alpha: 0) 70%
                    );
        padding: 5vw;
        border-radius: 999px;
        width: 50vw;
        height: 50vw;
        margin: 0 auto;

        padding: 13vh 8vw;
        top: 30vh;
        width: 40vw;
        height: 50vh;

        .logo{
            width: 75%;
            height: 66.67%;
            background-image: url('/public/images/header/sixseven-rooftop-logo.svg');
            background-position-x: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: -25px auto;
        }
    }

    .shutter{
        position: absolute;
        top: 0;
        height: 100vh;
        z-index: 2;

        $cw: calc(50vw + 26.7vh);
        $cw2: calc(100vw + 26.7vh);
        $ch: 57vh;
        $wn: 300px;
        $hn: 540px;
        $dim: 130vw;

        .right, .left{
        position: absolute;
        height: 100%;
        width: 50vw;

            .img{ 
                position: absolute;
                height: 100vh;
                width: $dim;
                
                .img-bg{
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position-y: bottom;
                    
                }
            }
        }

        .right{

            .img{
                clip-path: polygon(57vh 0, $dim 0, $dim 100vh, 0 100vh);
                left: calc(50vw - 31vh);

                .img-bg{
                    background-image: url('/public/images/header/header-bg-six-12.jpg');
                    background-position-x: -50vw;
                }
            }
        }
        
        .left{
            left: -50vw;

            .img{
                clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);

                .img-bg{
                    background-image: url('/public/images/header/header-bg-seven-12.jpg');
                    background-position-x: 50vw;
                }
            }
        }
    }

    .content{
        position: relative;
        //width: 625px;
        //min-width: 625px;
        width: 66vw;
        max-width: 900px;
        margin: -160px auto 0;
        padding-top: 50px;
        height: calc(100vh - 190px);
        //overflow: hidden;
        z-index: 1;

        .title{
            font-size: 40px;
            font-weight: 300;
            font-style: normal;
            line-height: 1.3em;
            letter-spacing: .1em;
            color: $gold;
            text-align: center;
        }
    
        .text{
            font-size: 20px;
            font-weight: 300 !important;
            font-style: normal !important;
            line-height: 1.5;
            //line-height: 4vh;
            color: $black;
            margin-top: 4vh;
        }
    
        .baseline{
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            margin-top: 4vh;
            margin-bottom: calc(25vh - 200px);
        }
        .form-container{
            position: absolute;
            top: -140px;
            height: 100vh;
            overflow: hidden;
            width: 66vw;

            .form_newsletter{
                position: absolute;
                bottom: 120px;
                width: calc(66vw - 42px);
                max-width: 857px;
                opacity: 0;
                background-color: $white;
                padding: 20px;
                border: 1.25px solid $gold;
                cursor: none;

                .opener{
                    //cursor: pointer;
                    margin-bottom: 40px;

                    .title{
                        font-weight: 400;
                        font-style: normal;
                        font-size: 20px;
                    }

                    p{
                        font-size: 18px;
                        text-align: center;
                    }

                    .icon{
                        position: absolute;
                        top: 14px;
                        right: 14px;
                        width: 75px;
                        height: 40px;
                        background-image: url('/public/images/arrow-opener.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 45px;
                        transition: all 1s;
                    }
                }

                &.open{
                    .opener .icon{
                        transition: all 1s;
                        transform: rotate(540deg);
                    }
                }
                
                input{
                    padding: 24px 100px 24px 24px;
                    border: 1px solid $gold !important;
                    transition: all .5s;
                    
                    &::placeholder{
                        color: $black;
                        font-size: 12px;
                        font-weight: 400;
                        font-style: normal;
                        font-family: "futura-pt", sans-serif;
                        text-transform: uppercase;
                        transition: all .5s;
                    }

                    &:focus-visible{
                        outline: none;
                        transition: all .5s;

                        &::placeholder{
                            color: transparent;
                        }
                    }
                }

                label, #form-mandatory{
                    display: none;
                }

                #label-CIVILITY_ID{
                    display: block;
                }

                #div-CIVILITY_ID{
                    margin-bottom: 6px;

                    label{
                        display: block;
                        font-family: "futura-pt", sans-serif;
                    }
                }

                #submitInput{
                    margin-top: 30px;
                    background-color: $gold;
                    transition: all .3s;
                    font-family: "futura-pt", sans-serif;
                    text-transform: uppercase;

                    &:hover{
                        opacity: .5;
                    }
                }

                #form-footer-mandatory{
                    font-family: "futura-pt", sans-serif;
                }

                .control--radio .control__indicator{
                    border: 1px solid $gold !important;
                    transition: all .3s;

                    &:after{
                        background-color: $gold;
                    }

                    &:hover{
                        opacity: .5;
                        border: 3px solid $gold !important;
                        top: 0;
                        left: -2px;
                    }
                }

                .message-div-success {
                    background-color: $gold;

                    span{
                        font-family: "futura-pt", sans-serif;
                    }

                    .icon.icon-success{
                        .checkmark_left, .checkmark_right{
                            background-color: $white;
                        }

                    }
                }
            } 
        }
        
    }

    .social-links{
        //margin: 17px 5px 165px;
        margin: 29px 5px 0;

        li{
            

            a{
                width: 50px;
                height: 42px;
                background-position: center left;
                background-repeat: no-repeat;
            }
            
        }
        .facebook{
            margin: 2px 20px 0 0;
            background-image: url('/public/images/fb.svg');
        }

        .instagram{
            margin: 3px 24px 0 0;
            background-image: url('/public/images/insta.svg');
        }
        
        .linkedin{
            margin: 0 20px 0 0;
            background-image: url('/public/images/linkedin.svg');
        }
    }

    .bottom{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        border-top: 1.25px solid $gold;
        background-color: $white;

        .coords{
            margin-top: 30px;

            .address, .email{
                position: relative;
                padding-left: 20px;
                width: 240px;

                >p{
                    line-height: 1.2;
                }

                &::before{
                    position: absolute;
                    left: 0;
                    top: 8px;
                    content: url('/public/images/address.svg');
                }
            }

            .address{

                &::before{
                    top: 8px;
                    content: url('/public/images/address.svg');
                }
            }

            .email{
                transition: all .5s;

                &::before{
                    top: 1px;
                    content: url('/public/images/email.svg');
                }

                &:hover{
                    &::before{
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}



/* =============================================================== RESPONSIVE =================================================================*/



@media (max-width:960px) {
    header{

        .logo-container{
            top: 37vh;
            padding: 50px 0;
            width: 60vw;
            height: 60vw;
        }

        .shutter{
    
            $cw: calc(50vw + 26.7vh);
            $cw2: calc(100vw + 26.7vh);
            $ch: 57vh;
            $wn: 300px;
            $hn: 540px;
            $dim: 130vw;
    
            .right{
    
                .img{
                    -webkit-clip-path: polygon(57vh 0, $dim 0, $dim 100vh, 0 100vh);
                    clip-path: polygon(57vh 0, $dim 0, $dim 100vh, 0 100vh);
                }
            }
            
            .left{
                left: -40vw;
    
                .img{
                    -webkit-clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);
                    clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);
    
                    .img-bg{
                        background-position-x: 40vw;
                    }
                }
            }
        }

        .content{
            .title {
                font-size: 24px;
            }

            .text{
                line-height: 1.5;
                font-size: 18px;
            }

            .baseline{
                font-size: 16px;
            }
        } 
    } 
}

@media (max-width:840px) {

    header{

        .logo-container{
            top: 37vh;
            padding: 50px 0;
            width: 60vw;
            height: 60vw;
        }

        .shutter{
    
            $cw: calc(50vw + 26.7vh);
            $cw2: calc(90vw + 26.7vh);
            $ch: 57vh;
            $wn: 300px;
            $hn: 540px;
            $dim: 130vw;
    
            .right{
    
                .img{
                    -webkit-clip-path: polygon(57vh 0, $dim 0, $dim 100vh, 0 100vh);
                    clip-path: polygon(57vh 0, $dim 0, $dim 100vh, 0 100vh);
                }
            }
            
            .left{
    
                .img{
                    -webkit-clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);
                    clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);

                    .img-bg{
                        background-position-x: 20vw;
                    }
                }
            }
        }

        .content {
            width: 60vw;

            .form-container {
                width: 60vw;

                .form_newsletter {
                    width: calc(60vw - 43px);
                }
            }
        }

        .text{
            line-height: 1.5;
        }
    }

}

@media (max-width:480px) {
    header{
        cursor: default;
        
        .logo-container{
            top: 37vh;
            padding: 50px 0;
            width: 80vw;
            height: 80vw;
        }

        .shutter{
    
            $cw: calc(70vw + 26.7vh);
            $cw2: calc(70vw + 26.7vh);
            $ch: 57vh;
            $wn: 300px;
            $hn: 540px;
            $dim: 130vw;
            
            .left{
                left: -20vw;
    
                .img{
                    clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);
                }
            }
        }

        .content {
            width: 80vw;

            .text {
                margin-top: 2vh;
                line-height: 1.3;
                font-size: 14px;
            }

            .form-container {
                width: 80vw;

                .form_newsletter {
                    width: calc(80vw - 23px);
                    padding: 10px;
    
                    .opener{
                        margin-bottom: 20px;

                        .title {
                            font-size: 14px;
                        }
    
                        p{
                            font-size: 12px;
                        }
    
                        .icon{
                            display: none;
                        }
                    }

                    #label-CIVILITY_ID {
                        font-size: 10px;
                    }

                    input {
                        padding: 0;
                        margin: 5px 0px !important;
                    }

                    #submitInput {
                        margin-top: 10px;
                    }
                }
    
                .title {
                    font-size: 24px;
                }
    
                .text{
                    line-height: 1.2;
                    font-size: 16px;
                }
    
                .baseline{
                    font-size: 14px;
                }

                
            }

            
        }

        .bottom{
            flex-direction: column;

            .coords{
                width: 100%;

                .address > p {
                    line-height: 1.2;
                    font-size: 12px;
                    
                }
            }
            
            .social-links{
                margin: 0;
                align-items: center;

                li{
                    width: 40px;
                    height: 42px;
                    background-position: center left;
                    background-repeat: no-repeat;
                    background-size: 60%;


                    
                }
                .facebook{
                    margin: 2px 0 0 0;
                    background-size: 20%;
                }
        
                .instagram{
                    margin: 3px 0 0 0;
                    background-size: 42%;
                }
                
                .linkedin{
                    margin: 0 0 0 0;
                    background-size: 36%;
                }
            }
        } 
    } 
}