@import '../commons/colors';

.menu-main{
    position: absolute;
    top: 0;
    width: 100vw;
    opacity: 0;

    &.sticky{
        position: fixed;
        top: -200px;
        opacity: 0;
        z-index: 2;
        background-color: $dark;
        height: 145px;
    }

    .tosix, .toseven{
        display: none;
        position: absolute;
        top: 0;
        width: 200px;
        height: 100%;
        background-position: center;
        background-size: 26%;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all .3s;
    }

    .tosix{
        display: none;
        right: 0;
        background-color: $white;
        background-image: url('/public/images/header/six.svg');
        background-position-x: 48px;
        clip-path: polygon(86px 0, 100% 0, 100% 100%, 0% 100%);

        &:hover{
            width: 230px;
        }
    }

    .toseven{
        display: none;
        left: 0;
        width: 150px;
        background-color: $dark;
        background-image: url('/public/images/header/seven.svg');
        background-size: 40%;
        background-position-x: 62%;
        clip-path: polygon(0 0, 100% 0, calc(100% - 88px) 100%, 0% 100%);
        
        &:hover{
            width: 180px;
        }
    }

    .menu{
        position: relative;
        display: flex;
        flex-direction: row;
        z-index: 5;
        margin: 52px auto 0;
        width: fit-content;

        &.menu-right{

        }

        &.menu-left{

        }

        .menu-item{
            position: relative;
            margin-right: 4vw;
            margin-top: 10px;

            .link{
                color: white;
                font-size: 17px;
                font-weight: 100;
                text-transform: uppercase;
                white-space: nowrap;
                letter-spacing: .2em;
                transition: all .3s;
            }

            &.menu-logo{
                margin-right: 12vw;

                &:after{
                    position: absolute;
                    top: -47px;
                    left: 6vw;
                    content: url('/public/images/header/menu-logo-sixseven.svg');
                    width: 117px;
                    height: 108px;
                }
            }

            &.lng{
                .link{
                    display: block;
                    width: 100px;
                    font-size: 14px;
                    text-align: center;
                    
                    padding: 40px 0;
                    margin-top: -40px;
                    border-radius: 50%;
                    border-radius: 50%;
                    border: #C0AE81 1px solid;
                    background-color: rgba($color: $black, $alpha: .2);
                    
                }
            }
        }
    }
}

.right .menu-main{
    left: 52vw;

    &.sticky{
        left: 0;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        background-image: url('/public/images/header/six.svg');
        background-repeat: no-repeat;
        background-position: 111px;
        background-size: 46px;

        .menu .menu-item.menu-logo:after{
            content: url('/public/images/header/menu-logo-sixseven-dark.svg');
        }

        .menu .menu-item .link{
            color: $dark;
        }
        
        .toseven{
            display: block;
        }
    }
}

.left .menu-main{

    &.sticky{
        background-image: url('/public/images/header/seven.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 151px);
        background-size: 63px;

        .tosix{
            display: block;
        }
    }
}

.fader{
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200px;
    background: linear-gradient(
        0deg, 
        rgba($color: $black, $alpha: 0) 0%,
        rgba($color: $black, $alpha: .5) 50%,
        rgba($color: $black, $alpha: .8) 90%
    );

    z-index: 6;
}
