@import '../commons/colors';

.reservation-main{
    position: fixed;
    top: 343px;
    right: -700px;
    display: flex;
    flex-direction: row;

    background-color: $white;
    z-index: 10;
    transition: all .4s;

    &.opened{
        right: 0;
    }

    .reservation-left{
        display: flex;
        flex-direction: column;
        height: 400px;

        .linkedin, .facebook, .instagram{
            width: 45px;
            min-height: 45px;
            background-color: $gold;
            background-repeat: no-repeat;
            background-position: center;
        }

        .linkedin{
            background-image: url('/public/images/header/icon-linkedin.svg');
        }

        .facebook{
            background-image: url('/public/images/header/icon-facebook.svg');
        }

        .instagram{
            background-image: url('/public/images/header/icon-instagram.svg');
        }

        .reservation{
            position: absolute;
            bottom: 100px;
            left: -57px;
            transform: rotate(-90deg);
            display: block;
            color: $gold;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: .2em;

            &:after{
                position: absolute;
                transform: rotate(90deg);
                right: -35px;
                content: url('/public/images/header/icon-bell.svg');
            }
        }
    }

    .reservation-right{
        width: 700px;
    }
}

.seven{
    .menu{
        > .title {
            color: $gold;
        }

        .menu-wrapper ul.items li.item{
            .submenu{
                color: $dark;
            }

            .menu-items .item-container{
                .menu-left .menu-name .name{
                    color: $oldgold;
                }

                .menu-right.selected .menu-content{
                    color: $dark;
                }
            } 
        } 
    } 
}