@import '../commons/colors';

.shutter{
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 4;

    $cw: calc(50vw + 26.7vh);
    $cw2: calc(100vw + 26.7vh);
    $ch: 57vh;
    $wn: 300px;
    $hn: 540px;
    $dim: 130vw;

    .right, .left{
    position: absolute;
    height: 100%;
    width: 50vw;

        .img{ 
            position: absolute;
            height: 100vh;
            width: $dim;

            .img-bg-mask{
                height: 100%;
            }
            
            .img-bg{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position-y: bottom;
            }
        }
    }

    @keyframes start-right0 {
        0%, 5% { clip-path: inset(0 0 100% 0)}
        100% { clip-path: inset(0 0 0 0)}
    }

    @keyframes start-right1 {
        0% { clip-path: circle(0%); }
        100% { clip-path: circle(100%); }
    }

    @keyframes start-right2 {
        0% {clip-path: polygon(75% 0, 100% 0, 100% 100%, 48% 100%);}
        100% {clip-path: polygon(57vh 0, $dim 0, $dim 100vh, 0 100vh);}
    }

    @keyframes start-right3 {
        0% { opacity: 0}
        100% { opactiy: 1}
    }

    @keyframes start-left0 {
        0%, 5% { clip-path: inset(100% 0 0 0)}
        100% { clip-path: inset(0 0 0 0)}
    }

    @keyframes start-left1 {
        0% { clip-path: circle(0%); }
        100% { clip-path: circle(100%); }
    }

    @keyframes start-left2 {
        0% {clip-path: polygon(20% 0%, 50% 0, 20% 100%, 0 100%);}
        100% {clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);}
    }

    @keyframes start-left3 {
        0% { opacity: 0}
        100% { opactiy: 1}
    }

    .right{

        .img{
            opacity: 0; 
            clip-path: polygon(57vh 0, $dim 0, $dim 100vh, 0 100vh);
            left: calc(50vw - 31vh);

            &.phase0{
                .img-bg{
                    &.six-one{
                        background-image: url('/public/images/header/6-jour.jpg');
                    }

                    &.start{
                        animation: start-right3 2500ms 0ms 1 alternate ease-out;
                    }

                    &.seven-six{
                        background-image: url('/public/images/header/7-6.jpg');
                    }
                }
            }

            &.phase1{
                .img-bg{
                    &.six-one{
                        background-image: url('/public/images/header/6-nuit.jpg');
                    }

                    &.start{
                        animation: start-right3 2000ms 0ms 1 alternate ease-out;
                    }
                }
            }

            &.phase2{
                .img-bg{
                    &.six-one{
                        background-image: url('/public/images/header/6-3.jpg');
                    }

                    &.start{
                        animation: start-right2 2000ms 0ms 1 alternate ease-out;
                    }
                }
            }

            &.phase3{
                .img-bg{
                    &.six-one{
                        background-image: url('/public/images/header/6-4.jpg');
                    }

                    &.start{
                        animation: start-right3 1500ms;
                    }
                }
            }

            &.phase1, &.phase2, &.phase3, &.phase4{
                display: none;
                opacity: 0;
            }

            .img-bg{
                position: absolute;
                background-position-x: -50vw;

                &.front{
                    opacity: 0; 
                    z-index: 1;
                }
            }
        }
    }

    .left{
        left: -50vw;

        .img{
            clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);
            opacity: 0;

            &.phase0{
                .img-bg{
                    &.seven-one{
                        background-image: url('/public/images/header/7-jour.jpg');
                    }

                    &.start{
                        animation: start-left3 2500ms 0ms 1 alternate ease-out;
                    }

                    &.six-seven{
                        background-image: url('/public/images/header/6-7.jpg');
                    }
                }
            }

            &.phase1{
                .img-bg{
                    &.seven-one{
                        background-image: url('/public/images/header/7-nuit.jpg');
                    }

                    &.start{
                        animation: start-left3 2000ms 0ms 1 alternate ease-out;
                    }
                }
            }

            &.phase2{
                .img-bg{
                    &.seven-one{
                        background-image: url('/public/images/header/7-3.jpg');
                    }

                    &.start{
                        animation: start-left2 2000ms 0ms 1 alternate ease-out;
                    }
                }
            }

            &.phase3{
                .img-bg{
                    &.seven-one{
                        background-image: url('/public/images/header/7-4.jpg');
                    }

                    &.start{
                        animation: start-left3 1500ms;
                    }
                }
            }

            &.phase1, &.phase2, &.phase3, &.phase4{
                display: none;
                opacity: 0;
            }

            .img-bg{
                position: absolute;
                background-position-x: 50vw;

                &.front{
                    opacity: 0;
                    z-index: 1;
                }
            }
        }
    }
}



/* =============================================================== RESPONSIVE =================================================================*/




@media (max-width:1270px) {

    header .content .title {
        font-size: 36px;
    }
}

@media (max-width:960px) {

    .logo-container{
        top: 37vh;
        padding: 50px 0;
        width: 60vw;
        height: 60vw;
    }

    .language-switcher{
        background-color: $gold;
        height: 40px;
        width: 40px;
        border-radius: 50% 0 0 50%;
        right: -10px;
        top: 20px;

        .link-mobile{
            display: block;
        }

        .link{
            display: none;
        }
    }

    .shutter{
        $cw: calc(50vw + 26.7vh);
        $cw2: calc(100vw + 26.7vh);
        $ch: 57vh;
        $wn: 300px;
        $hn: 540px;
        $dim: 130vw;

        .right{

            .img{
                -webkit-clip-path: polygon(57vh 0, $dim 0, $dim 100vh, 0 100vh);
                clip-path: polygon(57vh 0, $dim 0, $dim 100vh, 0 100vh);
            }
        }
        
        .left{
            left: -40vw;

            .img{
                -webkit-clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);
                clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);

                .img-bg{
                    background-position-x: 40vw;
                }
            }
        }
    }

    .content{
        height: calc(100vh - 190px);

        .title {
            font-size: 32px;
        }

        .text{
            line-height: 1.5;
            font-size: 18px;
        }

        .baseline{
            font-size: 16px;
        }

        .form-container{
            top: -140px;
        }
    }
}

@media (max-width:840px) {

        .logo-container{
            top: 30vh;
            padding: 50px 0;
            width: 60vw;
            height: 60vw;
        }

        .shutter{
            $cw: calc(50vw + 26.7vh);
            $cw2: calc(90vw + 26.7vh);
            $ch: 57vh;
            $wn: 300px;
            $hn: 540px;
            $dim: 130vw;
    
            .right{
    
                .img{
                    -webkit-clip-path: polygon(57vh 0, $dim 0, $dim 100vh, 0 100vh);
                    clip-path: polygon(57vh 0, $dim 0, $dim 100vh, 0 100vh);
                }
            }
            
            .left{
    
                .img{
                    -webkit-clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);
                    clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);

                    .img-bg{
                        background-position-x: 20vw;
                    }
                }
            }
        }

        .text, p{
            line-height: 1.5;
        }
    
}

@media (max-width:480px) {
        
        .logo-container{
            top: 31vh;
            padding: 50px 0;
            width: 80vw;
            height: 80vw;
            background: none;
        }

        .shutter{
            $cw: calc(70vw + 26.7vh);
            $cw2: calc(70vw + 26.7vh);
            $ch: 57vh;
            $wn: 300px;
            $hn: 540px;
            $dim: 130vw;
            
            .left{
                left: -20vw;
    
                .img{
                    clip-path: polygon(-50vw 0, $cw2 0, calc(#{$cw2} - #{$ch}) 100vh, -50vw 100vh);
                }
            }
        }

        .content {
            width: 80vw;

            .title{
                font-size: 24px;
            }

            .text, p {
                margin-top: 2vh;
                line-height: 1.3;
                font-size: 14px;
            }

            .form-container {
                width: 80vw;

                .form_newsletter {
                    width: calc(80vw - 23px);
                    padding: 10px;
    
                    .opener{
                        margin-bottom: 20px;

                        .title {
                            font-size: 14px;
                        }
    
                        p{
                            font-size: 12px;
                        }
    
                        .icon{
                            display: none;
                        }
                    }

                    #label-CIVILITY_ID {
                        font-size: 10px;
                    }

                    input {
                        padding: 0;
                        margin: 5px 0px !important;
                    }

                    #submitInput {
                        margin-top: 10px;
                    }
                }
    
                .title {
                    font-size: 24px;
                }
    
                .text{
                    line-height: 1.2;
                    font-size: 16px;
                }
    
                .baseline{
                    font-size: 14px;
                }
            }
        }

        .bottom{
            flex-direction: column;

            .bottom-container{
                flex-direction: column;
                width: 80vw;
            }

            .coords{
                width: 100%;
                margin-top: 5px;
                display: flex;
                flex-direction: column;

                .address, .legal{
                    padding-left: 0;
                    width: 100%;
                    
                    > p {
                        line-height: 1.2;
                        font-size: 12px;
                        text-align: center;
                    }

                    &::before{
                        content: none;
                    }

                    .link{
                        margin: 8px auto 0;
                        display: block;
                        width: fit-content;
                    }
                }
            }
            
            .social-links{
                margin: 5px auto 0;
                width: 100%;

                li{
                   width: 33%;

                    a{
                        width: 40px;
                        height: 42px;
                        margin: 0 auto;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 60%;
                    }
                }

                .facebook{
                    margin-top: 2px;
                    background-size: 20%;
                }
        
                .instagram{
                    margin-top: 3px;
                    background-size: 42%;
                }
                
                .linkedin{
                    margin-top: 0;
                    background-size: 36%;
                }
            }
        } 
    
}

@media (max-width:320px) {
   
        .content{
            margin-top: -75px;

            .title {
                font-size: 22px;
                margin-top: -90px;
            }

            .baseline{
                margin-top: 13px;
            }

            .form-container{
                top: -160px;

                .form_newsletter .opener{
                    margin-bottom: 20px;
    
                    .title{
                        margin-top: 0;
                    }
                }
            }  
        }

        .bottom{
            .coords {
                //margin-top: 10px;
            }

            .social-links li a {
                height: 35px;
            }
        } 
    
}

@media (max-height:480px) {
    
        .language-switcher .link{
            font-size: 12px;
        }

        .logo-container{
            top: 10vh;
            width: 33vw;
            background: none;
        }

        .shutter{ 
            .left{
                left: -40vw;
            }
        }

        .content{
            //width: 550px;
            width: 90vw;
            height: calc(100vh - 70px);
            margin: -170px auto 0;

            .title {
                font-size: 24px;
                margin-top: 20px;
            }

            .text{
                margin: 5px;
                font-size: 14px;
                line-height: 1.2;
            }

            p {
                font-size: 14px;
                margin-top: 0;
                line-height: 1.3;
            }

            .baseline {
                font-size: 14px;
                margin-top: 10px;
                width: 100%;
            }

            .form-container{
                height: calc(100vw - 160px);
            }

            .form-container{
                top: -130px;
                width: 90vw;
                height: 440px;

                .form_newsletter{
                    padding: 0;
                    //width: calc(66vw - 2px);
                    width: calc(90vw - 13px);
                    top: calc(100vh + 27px);
                    left: 5px;

                    .civ{
                        display: none !important;
                    }

                    #sb_form{
                        padding: 10px;
                    }

                    input{
                        margin: 5px 0 !important;
                        padding: 20px;
                    }

                    #div-CIVILITY_ID{
                        margin-bottom: 0;
                    }

                    #submitInput{
                        margin-top: 4px;
                        padding: 11px 25px;
                        width: 100%;

                    }

                    #form-footer-mandatory{
                        margin: 0;
                    }

                    .cols{
                        //display: grid;
                        column-count: 2;
                    }

                    .opener{
                        margin-bottom: 0;

                        .title{
                            margin-top: 7px;
                        }

                        p{
                            display: none;
                            margin-top: -9px;
                            column-count: 1;
                            font-size: 14px;
                        }

                        .icon{
                            top: 0;
                        }
                    }
                }
            } 
            
        }

        .bottom{
            height: 45px;

            .bottom-container{
                flex-direction: row;
                //width: 550px;
                width: calc(90vw - 10px);
            }

            .coords {
                margin-top: 5px;
                width: 70%;

                .legal{
                    .link{
                        padding: 0;
                    }
                }
            }

            .social-links{
                margin: 0;
                width: 30%;
                right: 0;
                position: absolute;

                .item{
                    width: 33%;

                    a{
                        margin: 0;
                    }

                    .facebook{
                        margin-top: 2px;
                        background-size: 20%;
                    }
            
                    .instagram{
                        margin-top: 3px;
                        background-size: 42%;
                    }
                    
                    .linkedin{
                        margin-top: 0;
                        background-size: 36%;
                    }
                }
            }
        }
    

    @media (min-width:840px) {
        
            .shutter{
                .left {
                    left: -50vw;
                }
            }

            .content{
                .text{
                    font-size: 16px;
                    line-height: 1.3;
                }

                .form-container {
                    top: -90px;

                    .form_newsletter {
                        top: calc(100vh - 25px);
                    }
                }
            }
    }
}