@import '../commons/colors';

.cursor-header{
    z-index: 999;
    position: absolute;
    text-align: center;
    pointer-events: none;

    width: 80px;
    height: 80px;
    border-radius: 80px;
    mix-blend-mode: exclusion;
    background-color: $gold-reversed;
    transition: width .5s;
    transition: height .2s;
    transform: matrix(1, 0, 0, 1, -200, -200);
 
    &.state0 {
        width: 80px;
        height: 80px;
        left: -30px;
        top: -30px;
    }

    &.state1 {
        width: 20px;
        height: 20px;
        
        .label {
            display: none;
        }

        .icon{
            opacity: 0;
        }
    }

    .label {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        font-family: "futura-pt", sans-serif;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .icon{
        opacity: 0;
        position: absolute;
        width: 22px;
        height: 48px;
        top: 15px;
        left: 30px;
        background-image: url('/public/images/cursor-arrow.svg');
        background-repeat: no-repeat;
        transform: rotate(0deg);
        
    }
}

@media only screen and (hover: none) and (pointer: coarse){
    .cursor-header{
        display: none;
    }
}

@media (max-width:480px) {
    .cursor-header{
        display: none;
    }
}