*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(black, 0);
}

body {
    padding:0;
    margin:0;
}

header {
    nav {
        width:80%;
        margin:auto;

        ul {
            list-style-type: none;
            padding:0;
            display: flex;
            justify-content: space-between;
        }
    }
}

.block {
    width:80%;
    margin: 0 auto;
}