@import 'commons/colors';

body{
    background-color:  $gold;
    overflow-x: hidden;
    cursor: none;
}

.orientationAdv{
    display: none;
    position: absolute;
    z-index: -1;
    width: 100vw;
    color: $white;
    margin-top: 46vh;
    text-align: center;
}

#wrapper{
    position: absolute;
    overflow-x: hidden;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#main{
    position: absolute;
    background-color: $white;
    opacity: 0;
    overflow-x: hidden;
    top: 100vh;
    width: 100vw;
    //padding-bottom: 100px;

    &.opened{
        overflow: hidden;
        height: unset;
    }

    .six, .seven{
        display: none;
    }

    .six{
        background-color: #070707;
    
        .news .news-wrapper ul.items li.item .news-right.selected{
            .news-subtitle, .news-content{
                color: $white;
            }
        } 
        
    }
    
    .seven{
        background-color: white;
    }
}

svg{
    position: absolute;
    top: 100px;
    left: 100px;
}

.language-switcher{
    position: absolute;
    top: 25px;
    right: 5vw;
    height: 85px;
    width: 85px;
    align-items: end;
    display: flex;
    z-index: 6;
    padding: 10px;
    border: 1.25px solid $gold;
    border-radius: 50%;
    background-color: rgba($color: $white, $alpha: .2);
    backdrop-filter: blur(2px);
    
    .link{
        color: $gold;
        cursor: none;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .link-mobile{
        display: none;
        color: $white;
        height: 74%;
        padding-left: 10px;
    }
}

.logo-container{
    pointer-events: none;
    position: relative;
    top: calc(50vh - 114px);
    z-index: 5;
    background: radial-gradient(
        circle, 
        rgba($color: $white, $alpha: .5) 0%, 
        rgba($color: $white, $alpha: .20) 30%,
        rgba($color: $white, $alpha: .10) 40%,
        rgba($color: $white, $alpha: 0) 50%
    );
    padding: 5vw;
    border-radius: 999px;
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
    padding: 13vh 8vw;
    top: 19vh;
    width: 40vw;
    height: 50vh;

    .logo{
        position: absolute;
        top: 18%;
        width: 75%;
        height: 66.67%;
        background-image: url('/public/images/header/logo3.svg');
        background-position-x: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: -25px auto;
    }

    .logo-numbers{
        position: absolute;
        opacity: 0;
        display: block;
        width: 100%;
        height: 100%;

        .six{
            position: absolute;
            //top: 50px;
            left: 7%;
            display: block;
            width: 60%;
            height: 35%;
            background-image: url('/public/images/header/six.svg');
            background-position-x: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .seven{
            position: absolute;
            //top: 0;
            left: 5%;
            display: block;
            width: 60%;
            height: 35%;
            background-image: url('/public/images/header/seven.svg');
            background-position-x: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@keyframes moveOrientation {
    0% {transform: rotate(15deg);}
    66% {transform: rotate(-15deg);}
    100% {transform: rotate(0deg);}
}

.orientation-icon{
    display: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 54px;
    z-index: 5;
    background-size: cover;
    height: 40px;
    background-image: url('/public/images/header/icon-rotation.svg');
    transform: rotate(0deg);
    animation-name: moveOrientation;
    animation-duration: 2s;
    animation-iteration-count: 5;
    animation-direction: alternate;
}

body.legal{
    background-image: url('/public/images/header/7-6.jpg');
    background-attachment: fixed;

    .main-legal{
        width: 80vw;
        max-width: 950px;
        margin: 0 auto;
        padding-bottom: 50px;

        .logo-container{
            pointer-events: none;
            position: relative;
            top: calc(50vh - 114px);
            padding: 5vw;
            border-radius: 999px;
            height: 50vw;
            margin: 0 auto;
            padding: 20px;
            top: 90px;
            height: 350px;
        
            .logo{
                width: 75%;
                height: 66.67%;
                background-image: url('/public/images/header/logo3.svg');
                background-position-x: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: 0 auto;
            }
        }
    }

    h1{
        font-size: 50px;
        font-weight: 700;
        margin: 20px 0;
        padding: 50px 0;
        color: $darkgrey;
        text-align: center;
        text-transform: uppercase;
    }

    h2{
        font-size: 24px;
        font-weight: 700;
        margin: 20px 0;
        color: $gold;
    }

    p{
        font-size: 16px;
        column-gap: 20px;
        text-align: justify;
        margin: 20px 0;
    }

    ol, ul{
        list-style: auto;
        padding: 15px 30px;

        li{
            font-family: "futura-pt", sans-serif;
            font-size: 16px;
            line-height: 1.7;
        }
    }

    ul{
        list-style: none;
    }
}

@media (max-width:480px) {
    body.legal{
        h1 {
            font-size: 40px;
        }
        
        p {
            column-count: 1;
        }

        .main-legal .logo-container{
            height: 250px;
        }
    } 
}




/* =============================================================== RESPONSIVE =================================================================*/




@media (max-width:1270px) {

    .content .title {
        font-size: 36px;
    }
}

@media (max-width:960px) {

    .logo-container{
        top: 37vh;
        padding: 50px 0;
        width: 60vw;
        height: 60vw;

        .logo-numbers, .logo{
            left: 17%;
        }
    }

    .language-switcher{
        background-color: $gold;
        height: 40px;
        width: 40px;
        border-radius: 50% 0 0 50%;
        right: -10px;
        top: 20px;

        .link-mobile{
            display: block;
        }

        .link{
            display: none;
        }
    }
}

@media (max-width:840px) {

    .logo-container{
        top: 37vh;
        padding: 50px 0;
        width: 60vw;
        height: 60vw;
    }

    .text, p{
        line-height: 1.5;
    }
}

@media (max-width:480px) {

    cursor: default;
    
    .logo-container{
        top: 37vh;
        padding: 50px 0;
        width: 80vw;
        height: 80vw;
        background: none;
    }

    .bottom{
        flex-direction: column;

        .bottom-container{
            flex-direction: column;
            width: 80vw;
        }

        .coords{
            width: 100%;
            margin-top: 5px;
            display: flex;
            flex-direction: column;

            .address, .legal{
                padding-left: 0;
                width: 100%;
                
                > p {
                    line-height: 1.2;
                    font-size: 12px;
                    text-align: center;
                }

                &::before{
                    content: none;
                }

                .link{
                    margin: 8px auto 0;
                    display: block;
                    width: fit-content;
                }
            }
        }

        .social-links{
            margin: 5px auto 0;
            width: 100%;

            li{
                width: 33%;

                a{
                    width: 40px;
                    height: 42px;
                    margin: 0 auto;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 60%;
                }
            }

            .facebook{
                margin-top: 2px;
                background-size: 20%;
            }
    
            .instagram{
                margin-top: 3px;
                background-size: 42%;
            }
            
            .linkedin{
                margin-top: 0;
                background-size: 36%;
            }
        }
    }
}

@media (max-width:320px) {

    .content{
        margin-top: -75px;

        .title {
            font-size: 22px;
            margin-top: -90px;
        }

        .baseline{
            margin-top: 13px;
        }

        .form-container{
            top: -160px;

            .form_newsletter .opener{
                margin-bottom: 20px;

                .title{
                    margin-top: 0;
                }
            }
        }  
    }

    .bottom{
        .coords {
            
        }

        .social-links li a {
            height: 35px;
        }
    }
}

@media (max-height:480px) {

    .language-switcher .link{
        font-size: 12px;
    }

    .logo-container{
        top: 26vh;
        width: 33vw;
        background: none;
    }

    .shutter{ 
        .left{
            left: -40vw;
        }
    }

    .content{
        width: 90vw;
        height: calc(100vh - 70px);
        margin: -170px auto 0;

        .title {
            font-size: 24px;
            margin-top: 20px;
        }

        .text{
            margin: 5px;
            font-size: 14px;
            line-height: 1.2;
        }

        p {
            font-size: 14px;
            margin-top: 0;
            line-height: 1.3;
        }

        .baseline {
            font-size: 14px;
            margin-top: 10px;
            width: 100%;
        }

        .form-container{
            height: calc(100vw - 160px);
        }

        .form-container{
            top: -130px;
            width: 90vw;
            height: 440px;

            .form_newsletter{
                padding: 0;
                width: calc(90vw - 13px);
                top: calc(100vh + 27px);
                left: 5px;

                .civ{
                    display: none !important;
                }

                #sb_form{
                    padding: 10px;
                }

                input{
                    margin: 5px 0 !important;
                    padding: 20px;
                }

                #div-CIVILITY_ID{
                    margin-bottom: 0;
                }

                #submitInput{
                    margin-top: 4px;
                    padding: 11px 25px;
                    width: 100%;

                }

                #form-footer-mandatory{
                    margin: 0;
                }

                .cols{
                    column-count: 2;
                }

                .opener{
                    margin-bottom: 0;

                    .title{
                        margin-top: 7px;
                    }

                    p{
                        display: none;
                        margin-top: -9px;
                        column-count: 1;
                        font-size: 14px;
                    }

                    .icon{
                        top: 0;
                    }
                }
            }
        }
    }

    .bottom{
        height: 45px;

        .bottom-container{
            flex-direction: row;
            width: calc(90vw - 10px);
        }

        .coords {
            margin-top: 5px;
            width: 70%;

            .legal{
                .link{
                    padding: 0;
                }
            }
        }

        .social-links{
            margin: 0;
            width: 30%;
            right: 0;
            position: absolute;

            .item{
                width: 33%;

                a{
                    margin: 0;
                }

                .facebook{
                    margin-top: 2px;
                    background-size: 20%;
                }
        
                .instagram{
                    margin-top: 3px;
                    background-size: 42%;
                }
                
                .linkedin{
                    margin-top: 0;
                    background-size: 36%;
            }
        }
    }
}

@media (min-width:840px) {
      
    .shutter{
        .left {
            left: -50vw;
        }
    }

    .content{
        .text{
            font-size: 16px;
            line-height: 1.3;
        }

        .form-container {
            top: -90px;

                .form_newsletter {
                    top: calc(100vh - 25px);
                }
            }
        }
    }
}