<div class="container">
    <h2>Block</h2>
    {% for key, value in data %}
        {% if key == 'sub_blocks' %}
            {% for subBlock in value %}
                {% set template = subBlock.template %}
                {% include 'home/blocks/' ~ template with subBlock %}
            {% endfor %}
        {% else %}
            {{ key }} : {{ value is iterable ? value.0|raw : value }}<br>
        {% endif %}
    {% endfor %}
</div>
