<div class="about" name="about">
    <ul class="tags">
        <li class="item txt selected" data-id="1">
            <h2 class="title">à propos</h2>
            <div class="content selected">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p> Nunc eu rutrum massa. In condimentum semper est ac mattis. Praesent pellentesque vel ipsum id euismod. Sed eu massa neque. Duis ut malesuada leo, a lacinia nunc. Mauris leo elit, sagittis vel ultricies ac, pharetra eget nisl. Vestibulum feugiat felis dui, porttitor porta justo egestas in. Aliquam at placerat mi. Duis faucibus velit in ultrices convallis.</p>
            </div>
        </li>
        <li class="item txt" data-id="2">
            <h2 class="title">Concept</h2>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p> Nunc eu rutrum massa. In condimentum semper est ac mattis. Praesent pellentesque vel ipsum id euismod. Sed eu massa neque. Duis ut malesuada leo, a lacinia nunc. Mauris leo elit, sagittis vel ultricies ac, pharetra eget nisl. Vestibulum feugiat felis dui, porttitor porta justo egestas in. Aliquam at placerat mi. Duis faucibus velit in ultrices convallis.</p>
            </div>
        </li>
        <li class="item txt" data-id="3">
            <h2 class="title">Histoire</h2>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p> Nunc eu rutrum massa. In condimentum semper est ac mattis. Praesent pellentesque vel ipsum id euismod. Sed eu massa neque. Duis ut malesuada leo, a lacinia nunc. Mauris leo elit, sagittis vel ultricies ac, pharetra eget nisl. Vestibulum feugiat felis dui, porttitor porta justo egestas in. Aliquam at placerat mi. Duis faucibus velit in ultrices convallis.</p>
            </div>
        </li>
    </ul>
    <div class="img"></div>
</div>