<div class="events-main" name="events">
    <div class="events">
        <div class="events-left">
            <h2 class="title">Évènements & privatisation</h2>
            <p>Located above Crans-Montana mountain resort, on the edge of a peaceful Alpine forest, Sixseven is a haven of warmth,
tranquillity and restoration. Bathed in the resplendent sunshine
and crystal-clear skies, it offers breath-taking views of the
highest peaks of the Swiss Alps.
            </p>
            <p>Executive Chef Jean-Philippe Blondet interprets Alain Ducasse’s cuisine with a contemporary and refined approach, consistently championing and enhancing current seasonal produce from British and French suppliers.
Located above Crans-Montana mountain resort, on the edge of a peaceful Alpine forest, Sixseven is a haven of warmth,
tranquillity and restoration. Bathed in the resplendent sunshine
and crystal-clear skies, it offers breath-taking views of the
highest peaks of the Swiss Alps.
            </p>
            <p>Executive Chef Jean-Philippe Blondet interprets Alain Ducasse’s cuisine with a contemporary and refined approach, consistently championing and enhancing current seasonal produce from British and French suppliers.
            </p>
        </div>
    </div>
</div>