<div class="socials">
    <ul class="items">
        <li class="item instagram">
            <a href="#" class="link"></a>
        </li>
        <li class="item linkedin">
            <a href="#" class="link"></a>
        </li>
        <li class="item facebook">
            <a href="#" class="link"></a>
        </li>
        <li class="item">
            <h3 class="title">Suivez-nous sur les réseaux</h3>
            <p>Exclusivité Paperjam – Une brasserie cosmopolite au sixième étage du Royal-Hamilius surplombée par un restaurant bistronomique aux prestations personnalisables: le concept du SixSeven attendu au printemp.</p>
        </li>
    </ul>
</div>