<div class="reservation-main"  name="reservation">
    <div class="reservation-left">
        <a href="#" target="_blank" class="linkedin"></a>
        <a href="#" target="_blank" class="facebook"></a>
        <a href="#" target="_blank" class="instagram"></a>
        <a href="javascript:void(0);" class="reservation">Réservation</a>
    </div>
    <div class="reservation-right">
        <h2 class="title">Restaurant SixSeven</h2>
        <h3 class="subtitle">Sous titre</h3>
        <div class="reservation-form">
            
        </div>
    </div>
</div>