<div class="main-contact" name="contact">
    <div class="form-contact">
        <h2>Contactez-nous</h2>
    </div>
    <div class="map-contact p1 lf parking">
        <p class="name">Parkhaus Royal Hamilius</p>
        <p class="access">Piéton</p>
    </div>
    <div class="map-contact p2 lf parking">
        <p class="name">Parkhaus Royal Hamilius</p>
        <p class="access">Piéton</p>
    </div>
    <div class="map-contact p3 rt tram">
        <p class="name">Hamilius Tram</p>
        <p class="access"></p>
    </div>
    <div class="map-contact p4 tp parking">
        <p class="name">Parkhaus Royal Hamilius</p>
        <p class="access">Voiture</p>
    </div>
    <div class="lines"></div>
</div> 