

<header class="">
    <div class="content">
        <h1 class="title uppercase">{{data.title}}</h1>
        <p class="text">{{data.content.0|raw}}</p>
        <p class="baseline">{{data.baseline|raw}}</p>
        <div class="form-container">
            {% include "home/blocks/newsletter.html.twig" with{ 'place': 'header' } %}
        </div>
    </div>
</header>

<svg height="200" width="200">
    <defs>
        <clipPath id="svgPath">
            <circle fill="#FFFFFF" stroke-width="1" stroke="red" r="200" cx="400" cy="400"/>
        </clipPath>
    </defs>
</svg>