<div id="loading"></div>
<div id="preloader_container">
    <img src="/build/images/header-bg-six-12.96386ca6.jpg"/>
    <img src="/build/images/header-bg-seven-12.369574aa.jpg"/>
    <img src="/build/images/7-1.55a25e1b.jpg"/>
    <img src="/build/images/6-7.f23f6447.jpg"/>
</div>
 