<div id="main">

            <!-- content -->
            {% block content %}{% endblock %}
            {%  include "home/blocks/news.html.twig"%}

            <!-- footer -->
            {%  include "home/blocks/footer.html.twig"%}
            
        </div>