<ul class="social-links flexer row">
    <li class="item">
        <a href="https://www.facebook.com/RestaurantSIXSEVEN" target="_blank" class="facebook"></a>
    </li>
    <li class="item">
        <a href="https://www.instagram.com/restaurantsixseven" target="_blank" class="instagram"></a>
    </li>
    <li class="item">
        <a href="https://www.linkedin.com/company/restaurant-sixseven" target="_blank" class="linkedin"></a>
     </li>
</ul>