<ul class="social-links flexer row">
    <li class="item">
        <a href="#" target="_blank" class="facebook"></a>
    </li>
    <li class="item">
        <a href="#" target="_blank" class="instagram"></a>
    </li>
    <li class="item">
        <a href="#" target="_blank" class="linkedin"></a>
     </li>
</ul>