<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block metas %}{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <div id="main">
        <!-- header -->
        {% if header is defined %}
            {% include "home/blocks/header.html.twig" %}
        {% else %}
            {% block header %}{% endblock %}
        {% endif %}

        <!-- content -->
        {% block content %}
        {% endblock %}

        <!-- footer -->
        {%  if footer is defined %}
             {% include "home/blocks/footer.html.twig" %}
        {% else %}
            {% block footer %}{% endblock %}
        {%  endif %}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>