<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if metas is defined and metas is not empty %}
        <title>{{ metas.title }}</title>
        <meta name="description" content="{{ metas.description }}">
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% if app.request.get('preview') and app.request.get('preview') == 'preview' %}
        <meta name="robots" content="none" />
    {% endif %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <div id="main">
        <!-- header -->
        {% if header is defined %}
            {% include "home/blocks/header.html.twig" %}
        {% else %}
            {% block header %}{% endblock %}
        {% endif %}

        <!-- content -->
        {% block content %}
        {% endblock %}

        <!-- footer -->
        {%  if footer is defined %}
             {% include "home/blocks/footer.html.twig" %}
        {% else %}
            {% block footer %}{% endblock %}
        {%  endif %}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>