{% extends 'bo/base_bo.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-8">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Modification du champs <strong>{{ item.name }}</strong></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="flex-col large-section">
                        <div class="flex-row">
                            <div id="item" class="_item">

                                {{ include('bo/super_admin/item/_form.html.twig') }}

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.card -->
        </div>
        <div class="col-4">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Champs existants</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="flex-col">

                        {% include 'bo/super_admin/item/list.html.twig' with items %}

                    </div>

                    <div class="row mt-5">
                        <a href="{{ path('admin_item') }}" class="btn btn-block btn-secondary">Créer un champs</a>
                    </div>
                </div>

            </div>
            <!-- /.card -->
        </div>
    </div>

{% endblock %}
