{%  extends 'bo/test.html.twig' %}

{% block content %}
<div id="subscriber" class="row">
    <table id="table_newsletter">
        <tr>
            <th> Email</th>
            <th>Delete</th>
        </tr>
    </table>

</div>
{% endblock %}