{% extends 'index.html.twig' %}

{% block metas %}
    {% if metas.meta_title is defined %}
        <title>{{ metas.meta_title }}</title>
    {% endif %}
    {% if metas.meta_description is defined %}
        <meta name="description" content="{{ metas.meta_description }}">
    {% endif %}
{% endblock %}

{% block content %}

    {% set index = 0  %}

    {%
        set excluded_template = {
            0:'_welcome.html.twig',
            1:'_logos-service.html.twig',
            2:'_block-infos.html.twig',
            4:'_gift-large.html.twig',
            5:'_gift-reservation.html.twig',
            6:'_big-block.html.twig',
            7:'_header.html.twig',
            8:'_news-letter.html.twig',
            9:'_slider.html.twig',
        }
    %}

    {%  for key,block in blocks %}

        {% set include = '/home/blocks/'~block.template %}
        {% set no_margin_top ='' %}
        {% set even ='' %}

        {% include include  with { 'data' : block.data , 'even' : even, 'index' : index} %}

    {%  endfor  %}

{% endblock %}